<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moneyhub5.web.adm.AdminMapper">
	<select id="countAdmin" resultType="int">
	SELECT COUNT(*) FROM ADMIN
	</select>
	<select id="access" resultType="Admin">
	SELECT EMPNO FROM ADMIN WHERE EMPNO LIKE #{empno}
	</select>
	<select id="selectAdmin2" resultType="Admin" parameterType ="hashmap">
       SELECT AID,CNAME,PWD
		FROM CLIENT
		WHERE AID LIKE #{AID} 
		<trim prefix="WHERE" prefixOverrides="=AND |OR">
		AND ${} LIKE #{}
		</trim>
    </select>
</mapper>